<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <encodeNameReplacements>
      <!-- Replace spaces in URLs with dashes -->
      <replace mode="on" find=" " replaceWith="-" />
    </encodeNameReplacements>
    <settings>
      <setting name="InvalidItemNameChars">
        <patch:attribute name="value">-\/:?&quot;&lt;&gt;|[]</patch:attribute>
      </setting>
    </settings>
    <pipelines>
      <overrideItemUrl>
        <processor type="Sitecore.EventCalendar.Pipelines.UrlOverrides.EventUrlOverride, Sitecore.EventCalendar" />
      </overrideItemUrl>
    </pipelines>
    <linkManager>
      <patch:attribute name="defaultProvider">Eventcalendar</patch:attribute>
      <providers>
        <add name="sitecore">
          <patch:attribute name="name">Eventcalendar</patch:attribute>
          <patch:attribute name="type">Sitecore.EventCalendar.Links.LinkProvider, Sitecore.EventCalendar</patch:attribute>
          <patch:attribute name="lowercaseUrls">true</patch:attribute>
          <patch:attribute name="languageEmbedding">never</patch:attribute>
        </add>
      </providers>
    </linkManager>
  </sitecore>
</configuration>