<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>

      <setting name="EventTemplateID" value="{BE06E034-5FDB-4969-8A66-0309ABB453A1}"/>

      <setting name="EventCalendarRootID" value="{183B4090-F88E-4116-9E3E-9B9FE2913752}"/>

      <setting name="EventCategoryFolderID" value="{088903AF-D3AF-4992-927B-FA2A26AABB7F}"/>

      <setting name="EventCategoryItemTemplateID" value="{89BC9920-BB33-4A64-A3D5-EA8CB59112F5}"/>

      <setting name="EventLandingTemplateID" value="{50DAFADC-EB70-4389-B600-6A9D252B1A44}"/>

      <setting name="EventCalendarSettingItem" value="{300DC298-DB93-4A69-AFA8-1C41559D64AF}"/>
    </settings>
  </sitecore>
</configuration>
